.page-portfolio(:class="{'show-slide-arrows': showSlideArrows }")
  v-header(:show="currentSection === 'home'" @route="onChangeRoute")
  v-sidebar(:show="showSidebar" @route="onChangeRoute")
  .background-content
    .overlay-home(:class="{active: currentSection === 'home'}")
      v-canvas(:render="currentSection === 'home'")
    .overlay-about(:class="{'active': currentSection === 'about'}")
      img(:src="useImage('shape-3.png')" alt="shape")
      img(:src="useImage('shape-7.png')" alt="shape")
    .overlay-skills(:class="{'active': currentSection === 'skills'}")
      img(:src="useImage('shape-5.png')" alt="shape")
      img(:src="useImage('shape-2.png')" alt="shape")
    .overlay-portfolio(:class="{'active': currentSection === 'portfolio' && !this.currentSlide}")
      img(:src="useImage('shape-1.png')" alt="shape")
      img(:src="useImage('shape-11.png')" alt="shape")
      img(:src="useImage('shape-12.png')" alt="shape")
    .overlay-contact(:class="{'active': currentSection === 'contact'}")
      img(src="https://www.liberatedyoga.com/img/010.jpg" alt="")

  full-page#fullpage(ref="fullpage" :options="options")
    .section.section-home
      .profile
        h1 Juan Ciro
        p Software Engineer & Full-stack Web Developer
      .scroll-indicator
      .movement-indicator
        v-icon.key(name="arrow-up")
        .keys
          v-icon.key(name="arrow-left")
          v-icon.key(name="arrow-down")
          v-icon.key(name="arrow-right")
        small You can navigate with keyboard keys.

    .section.section-about
      v-container
        section
          h2 Hi, I'm Juan Pablo Ciro
          h3 Software Engineer & Full-stack Web Developer
          img(:src="useImage('profile.jpg')" alt="")
        section
          .interests
            .interest(:class="{active: settings.about.currentInterest === 0}"): p I'm passionate about programming, especially on web development.
            .interest(:class="{active: settings.about.currentInterest === 1}"): p I'm open to challenges and enjoy facing them with dedication and responsibility.
            .interest(:class="{active: settings.about.currentInterest === 2}"): p I like teamwork, sharing ideas, listening to others and building great projects.
            .interest(:class="{active: settings.about.currentInterest === 3}"): p I consider myself capable of leading, with great imagination and creativity in solving challenges.
            .interest(:class="{active: settings.about.currentInterest === 4}"): p And I also know how to play guitar, that's cool :)

    .section.section-skills
      v-container
        section
          h2 Skills & Experience
          p I have gained experience building personal projects for training and creativity, building various projects to fit different aspects of the client's business, doing maintenance and refactoring code in real web applications, customer assistance, hosting and domain management, requirements elicitation, building web apps, small unity games, mobile apps, custom plugins, components, features, animations and coding interactive layouts.
          p My main area of expertise is front end development using many technologies such as HTML, CSS, JS, Vue, React and typescript, but I also have experience in WordPress and PHP.
          p In back end development I have experience building REST APIs using Node, Express and Moleculer, I also have knowledge using microservices architecture and DevOps philosophy.
          .front-end
            .technologies
              v-image(src="https://cdn.worldvectorlogo.com/logos/html-1.svg" alt="logo_html" description="HTML")
              v-image(src="https://cdn.worldvectorlogo.com/logos/css-3.svg" alt="logo_css" description="CSS")
              v-image(src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="logo_js" description="JavaScript")
              v-image(src="https://cdn.worldvectorlogo.com/logos/typescript.svg" alt="logo_ts" description="TypeScript")
              v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
              v-image(src="https://cdn.worldvectorlogo.com/logos/react-2.svg" alt="logo_react" description="React")
              v-image(src="https://cdn.worldvectorlogo.com/logos/wordpress-blue.svg" alt="logo_wp" description="WordPress")
              v-image(src="https://cdn.worldvectorlogo.com/logos/php-1.svg" alt="logo_php" description="PHP")
              v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_sass" description="Sass")
              v-image(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="logo_pug" description="Pug")
              v-image(src="https://cdn.worldvectorlogo.com/logos/bootstrap-5-1.svg" alt="logo_bootstrap" description="Bootstrap")
              v-image(src="https://cdn.worldvectorlogo.com/logos/unity-69.svg" alt="logo_unity" description="Unity")
          .back-end
            .technologies
              v-image(src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="logo_nodejs" description="Node")
              v-image(src="https://raw.githubusercontent.com/moleculerjs/branding/master/logo/logo.png" alt="logo_moleculer" description="Moleculer")
              v-image(src="https://cdn.worldvectorlogo.com/logos/python-5.svg" alt="logo_python" description="Python")
              v-image(src="https://cdn.worldvectorlogo.com/logos/git-icon.svg" alt="logo_git" description="Git")
              v-image(src="https://cdn.worldvectorlogo.com/logos/devops-2.svg" alt="logo_devops" description="DevOps")

    .section.section-portfolio
      .slide.slide-summary
        v-container
          section
            h2 Portfolio
            p Scroll right to see my previous projects
            router-link(to="#portfolio/1" @click="onChangeRoute('portfolio', 1)")
              v-icon(name="arrow-right")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Freelance Job
              h2 Getapig!
              .summary
                p It is an investment platform focused on financing projects in the pork industry.
                p • Development of the entire site from mockups.
                p • Component creation using a UI/UX design system.
                p • Full responsive design.
                p • Development of the server with token-based authentication using JWT and microservices architecture.
                p • Integration with an own developed administration panel to manage the site contents.
                p • Deployment and setup of domains and subdomains in the hosting panel.
                p • Integration with ChartJS to show real-time analytics.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
                v-image(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="logo_pug" description="Pug")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://scicoding.com/content/images/2021/09/chartjs-logo-1.svg" alt="logo_chartjs" description="ChartJs")
                v-image(src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="logo_node" description="Node")
                v-image(src="https://raw.githubusercontent.com/moleculerjs/branding/master/logo/logo.png" alt="logo_moleculer" description="Moleculer")
              .actions
                a(href="https://getapig.co/" target="_blank") Explore the site
            .site-preview
              img(:src="useImage('mockup-getapig.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Freelance Job
              h2 Cupido Car Wash
              .summary
                p It is an application to easily schedule car wash service at home.
                p • Development of the entire site from zero using demo templates.
                p • Component creation using a UI/UX design system.
                p • Integration with Calendly to automate appointment scheduling.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
                v-image(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="logo_pug" description="Pug")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://stackedsite.com.au/wp-content/uploads/2021/06/Calendly-Logo.png" alt="logo_calendly" description="Calendly")
              .actions
                a(href="https://cupidowash.com/" target="_blank") Explore the site
            .site-preview
              img(:src="useImage('mockup-cupidowash.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Personal Project
              h2 Drum Machine
              .summary
                p Create progressions with different sounds on a retro-designed radio tape recorder.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
                v-image(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="logo_pug" description="Pug")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="logo_js" description="JavaScript")
                v-image(src="https://avatars.githubusercontent.com/u/11019186?s=280&v=4" alt="logo_tonejs" description="ToneJs")
              .actions
                a(href="https://jcirolo.github.io/drum-machine/" target="_blank") Explore the site
                a(href="https://github.com/JCiroLo/drum-machine") View the code
            .site-preview
              img(:src="useImage('mockup-drummachine.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Personal Project
              h2 Fractal Canopy
              .summary
                p Simulator to generate custom fractal trees with many parameters.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
                v-image(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="logo_pug" description="Pug")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://getbutterfly.com/wp-content/uploads/2022/03/javascript-canvas-logo.png" alt="logo_canvas" description="Canvas")
              .actions
                a(href="https://jcirolo.github.io/fractal-canopy/" target="_blank") Explore the site
                a(href="https://github.com/JCiroLo/fractal-canopy" target="_blank") View the code
            .site-preview
              img(:src="useImage('mockup-fractalcanopy.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Personal Project
              h2 Snake Game
              .summary
                p The classic game made in pure HTML, Javascript and CSS with multiple difficulties.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
                v-image(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="logo_pug" description="Pug")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="logo_js" description="JavaScript")
              .actions
                a(href="https://jcirolo.github.io/snake-game/" target="_blank") Explore the site
                a(href="https://github.com/JCiroLo/snake-game" target="_blank") View the code
            .site-preview
              img(:src="useImage('mockup-snakegame.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Personal Project
              h2 Camera Effects
              .summary
                p Small application that uses the camera to create animated shapes.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/html-1.svg" alt="logo_html" description="HTML")
                v-image(src="https://cdn.worldvectorlogo.com/logos/css-3.svg" alt="logo_css" description="CSS")
                v-image(src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="logo_js" description="JavaScript")
              .actions
                a(href="https://jcirolo.github.io/camera-effects/" target="_blank") Explore the site
                a(href="https://github.com/JCiroLo/camera-effects" target="_blank") View the code
            .site-preview
              img(:src="useImage('mockup-cameraeffects.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Personal Project
              h2 LOLRE
              .summary
                p League of Legends champion search engine that allows you to see all their history, skins and abilities in detail and in different languages. Uses the official Riot Games API.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="logo_js" description="JavaScript")
              .actions
                a(href="https://jcirolo.github.io/lolre/" target="_blank") Explore the site
                a(href="https://github.com/JCiroLo/lolre" target="_blank") View the code
            .site-preview
              img(:src="useImage('mockup-lolre.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Personal Project
              h2 Musical Scale Finder
              .summary
                p Application created to find musical scales that match the notes you previously selected. The site is under construction.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="logo_vue" description="Vue")
                v-image(src="https://cdn.worldvectorlogo.com/logos/pug.svg" alt="logo_pug" description="Pug")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://avatars.githubusercontent.com/u/11019186?s=280&v=4" alt="logo_tonejs" description="ToneJs")
              .actions
                a(href="https://jcirolo.github.io/musical-scale-finder/" target="_blank") Explore the demo
                a(href="https://github.com/JCiroLo/musical-scale-finder" target="_blank") View the code
            .site-preview
              img(:src="useImage('mockup-musicalscalefinder.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small Personal Project
              h2 Disco Planet
              .summary
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad unde molestiae modi officiis blanditiis odit, quos atque aliquid consequuntur odio ab beatae similique cupiditate laborum aliquam, rerum corrupti. Molestias, quod?.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/html-1.svg" alt="logo_html" description="HTML")
                v-image(src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="logo_js" description="JavaScript")
                v-image(src="https://cdn.worldvectorlogo.com/logos/threejs-1.svg" alt="logo_threejs" description="ThreeJs")
              .actions
                a(href="https://jcirolo.github.io/disco-planet/" target="_blank") Explore the site
                a(href="https://github.com/JCiroLo/disco-planet" target="_blank") View the code
            .site-preview
              img(:src="useImage('mockup-discoplanet.png')" alt="")
      .slide.slide-web-app
        v-container
          section
            .site-info
              small E-Commerce Application
              h2 Glasses Frame Shop
              p Personal project made to emulate an online store to sell and test glasses frames. The site is under construction.
              .technologies
                p Built with:
                v-image(src="https://cdn.worldvectorlogo.com/logos/react-2.svg" alt="logo_react" description="React")
                v-image(src="https://cdn.worldvectorlogo.com/logos/typescript.svg" alt="logo_ts" description="TypeScript")
                v-image(src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="logo_pug" description="Sass")
                v-image(src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="logo_node" description="Node")
              .actions
                a(href="https://github.com/JCiroLo/glasses-frame-shop" target="_blank") View the code
            .site-preview
              img(:src="useImage('mockup-glasses-shop.png')" alt="")

    .section.section-contact
      v-container
        section
          small Want to start new project?
          h2 Contact Me
          p Available for any remote freelance opportunity. Send me an email or contact me via instant message!
          .social-networks
            a(href="mailto: juanciro35@gmail.com" target="_blank")
              v-icon(type="far" name="envelope")
            a(href="https://www.linkedin.com/in/jcirolo/" target="_blank")
              v-icon(type="fab" name="linkedin")
            a(href="https://github.com/JCiroLo" target="_blank") 
              v-icon(type="fab" name="github")
            a(href="https://www.instagram.com/justanotherzero.jpg/" target="_blank") 
              v-icon(type="fab" name="instagram")
